.manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

.subtitle{
  color: rgb(73, 73, 73);;
}

.footer-bg{
    background-color: rgb(28, 28, 28);
  }